<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron vertical-center">
				<div class="container text-center">
                    <div class="row">
                        <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset2 col-md-offset-3">
                            <img src="/res/placeholder256x256.png" class="img-rounded img-responsive center-block" alt="App logo">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
                            <h1>AWAF App</h1>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                    <span class="sr-only">0%</span>
                                </div>
                            </div>
                            <p>Loading test...</p>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>