html, body {
    height: 100%;
    height: 100vh;
}

.jumbotron.vertical-center{
    margin-bottom: 0;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    width: 100%;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}